body{
    background-color: rgb(0, 0, 0,0.5);
}
.gameName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opponentBoard{
    height: 400px;
    width: 400px;
    background-color: rgb(126, 126, 207);
    border-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
}
.yourBoard{
    height: 400px;
    width: 400px;
    background-color: rgb(0, 255, 200); 
    border-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
}
.gameBoardContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.square{
    border: 1px solid black;
}
.arrangeShips{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.arrangeShipsBtn{
    height: 50px;
    width: 150px;
    background-color: rgb(77, 197, 228);
    border-color: rgb(77, 197, 228);
    font-size: larger;
}
.boardNames{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: aliceblue;
    margin-top: 30px;
}
.shipsContainer{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}
.ship.rotated {
    transform: rotate(90deg);
}
.destroyer{
    width: 60px;
    height: 25px;
    background-color: brown;
}
.submarine{
    width: 80px;
    height: 25px;
    background-color: rgb(209, 176, 176);
}
.battleship{
    width: 100px;
    height: 25px;
    background-color: rgb(126, 201, 7);

}
.cruiser{
    width: 80px;
    height: 25px;
    background-color: rgb(230, 47, 47);

}
.carrier{
    width: 120px;
    height: 25px;
    background-color: rgb(250, 24, 201);

}
.ship.selected {
    border: 4px solid #333;
}





